<ul class="nav nav-pills" id="mainNav">
    <li class="dropdown">
		<a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="68" href="#home">Home</a>
    </li>
    <li>
    	<a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="68" href="#services">Services</a>
    </li>
	<li>
    	<a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="68" href="#contact">Contact Us</a>
    </li>
</ul>