@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div role="main" class="main">
	<div id="home" class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 7000}" style="height: 100vh;">
		<div class="owl-stage-outer">
			<div class="owl-stage">

				<!-- Carousel Slide 1 -->
				<div class="owl-item position-relative pt-5" style="background-image: url(img/slides/the_great_resignation.001.jpeg); background-size: cover; background-position: center; background-color: #35383d;">
					<div class="container position-relative z-index-3 h-100">
						<div class="row justify-content-center align-items-center h-100">
							<div class="col-lg-6">
								<div class="d-flex flex-column align-items-center">
									<h3 class="position-relative text-color-light text-4 line-height-5 font-weight-medium px-4 mb-3 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'firstLoadNoAnim': true, 'minWindowWidth': 0}">
										<span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
											<img src="img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'firstLoadNoAnim': true, 'minWindowWidth': 0}" alt="" />
										</span>
										THE GREAT RESIGNATION
										<span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
											<img src="img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'firstLoadNoAnim': true, 'minWindowWidth': 0}" alt="" />
										</span>
									</h3>
									<h2 class="text-color-light font-weight-extra-bold text-12 mb-4 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'firstLoadNoAnim': true, 'minWindowWidth': 0}">
										IT HAPPENS NOW
									</h2>
									<p class="text-4 text-color-light font-weight-light opacity-7 text-center mt-2 mb-4" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'firstLoadNoAnim': true, 'minWindowWidth': 0, 'animationSpeed': 25}">1 in 4 people think about leaving</p>
									<a href="#" class="btn btn-primary btn-rounded font-weight-bold text-3 px-5 py-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600" data-plugin-options="{'firstLoadNoAnim': true, 'minWindowWidth': 0}">ACT NOW!</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Carousel Slide 1 -->
				<div class="owl-item position-relative pt-5" style="background-image: url(img/slides/retain_employees.001.jpeg); background-size: cover; background-position: center; background-color: #35383d;">
					<div class="container position-relative z-index-3 h-100">
						<div class="row justify-content-center align-items-center h-100">
							<div class="col-lg-6">
								<div class="d-flex flex-column align-items-center">
									<h3 class="position-relative text-color-light text-4 line-height-5 font-weight-medium px-4 mb-3 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'firstLoadNoAnim': true, 'minWindowWidth': 0}">
										<span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
											<img src="img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'firstLoadNoAnim': true, 'minWindowWidth': 0}" alt="" />
										</span>
										RETAIN TALENT
										<span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
											<img src="img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'firstLoadNoAnim': true, 'minWindowWidth': 0}" alt="" />
										</span>
									</h3>
									<h2 class="text-color-light font-weight-extra-bold text-10 mb-4 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'firstLoadNoAnim': true, 'minWindowWidth': 0}">
										PROVIDE OPPORTUNIES
									</h2>
									<p class="text-4 text-color-light font-weight-light opacity-7 text-center mt-2 mb-4" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'firstLoadNoAnim': true, 'minWindowWidth': 0, 'animationSpeed': 25}">Increase mobility</p>
									<a href="#" class="btn btn-primary btn-rounded font-weight-bold text-3 px-5 py-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600" data-plugin-options="{'firstLoadNoAnim': true, 'minWindowWidth': 0}">ACT NOW!</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Carousel Slide 3 -->
				<div class="owl-item position-relative video overlay overlay-show overlay-op-8 pt-5" data-video-path="video/product_demo" data-plugin-video-background data-plugin-options="{'posterType': 'jpg', 'position': '50% 50%'}">
					<div class="container position-relative z-index-3 h-100">
						<div class="row justify-content-center align-items-center h-100">
							<div class="col-lg-6">
								<div class="d-flex flex-column align-items-center">
									<h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
										<span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
											<img src="img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
										</span>
										OUR SOLUTION 
										<span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
											<img src="img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
										</span>
									</h3>
									<p class="text-4 text-color-light font-weight-light opacity-7 text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 25}">Allows your people to easily move to the team where they are <strong class="text-color-light">happiest</strong> and most <strong class="text-color-light">productive</strong></p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="owl-nav">
			<button type="button" role="presentation" class="owl-prev"></button>
			<button type="button" role="presentation" class="owl-next"></button>
		</div>
		<div class="owl-dots mb-5">
			<button role="button" class="owl-dot active"><span></span></button>
			<button role="button" class="owl-dot"><span></span></button>
			<button role="button" class="owl-dot"><span></span></button>
		</div>
	</div>
	
	<section id="services" class="section section-height-3 bg-primary border-0 m-0 appear-animation" data-appear-animation="fadeIn">
    	<div class="container my-3">
    		<div class="row mb-5">
    			<div class="col text-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
    				<h2 class="font-weight-bold text-color-light mb-2">Services</h2>
    				<p class="text-color-light opacity-7">Our solution to retaining your most valuable people</p>
    			</div>
    		</div>
    		<div class="row mb-lg-4">
    			<div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
    				<div class="feature-box feature-box-style-2">
    					<div class="feature-box-icon">
    						<i class="icons icon-support text-color-light"></i>
    					</div>
    					<div class="feature-box-info">
    						<h4 class="font-weight-bold text-color-light text-4 mb-2">EMPOWER PEOPLE</h4>
    						<p class="text-color-light opacity-7">Let your people choose which team best matches their values. Put people in charge of their own careers.</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
    				<div class="feature-box feature-box-style-2">
    					<div class="feature-box-icon">
    						<i class="icons icon-layers text-color-light"></i>
    					</div>
    					<div class="feature-box-info">
    						<h4 class="font-weight-bold text-color-light text-4 mb-2">EASY TEAM MOBILITY</h4>
    						<p class="text-color-light opacity-7">Allow people to easily move to the team where they are happiest and most productive.</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
    				<div class="feature-box feature-box-style-2">
    					<div class="feature-box-icon">
    						<i class="icons icon-menu text-color-light"></i>
    					</div>
    					<div class="feature-box-info">
    						<h4 class="font-weight-bold text-color-light text-4 mb-2">TRACK KEY METRICS</h4>
    						<p class="text-color-light opacity-7">Check how happy and most likely people are to leave their teams.</p>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
    				<div class="feature-box feature-box-style-2">
    					<div class="feature-box-icon">
    						<i class="icons icon-doc text-color-light"></i>
    					</div>
    					<div class="feature-box-info">
    						<h4 class="font-weight-bold text-color-light text-4 mb-2">TEAMS</h4>
    						<p class="text-color-light opacity-7">Get a comprehensive overview of all teams within your organization. For each team see what products they maintain and what technology they use.</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
    				<div class="feature-box feature-box-style-2">
    					<div class="feature-box-icon">
    						<i class="icons icon-user text-color-light"></i>
    					</div>
    					<div class="feature-box-info">
    						<h4 class="font-weight-bold text-color-light text-4 mb-2">TEAM PROFILES</h4>
    						<p class="text-color-light opacity-7">Each team describes what it is like to work in their team and what their team values are. Others can easily check if they would be a good fit.</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
    				<div class="feature-box feature-box-style-2">
    					<div class="feature-box-icon">
    						<i class="icons icon-screen-desktop text-color-light"></i>
    					</div>
    					<div class="feature-box-info">
    						<h4 class="font-weight-bold text-color-light text-4 mb-2">APPLY</h4>
    						<p class="text-color-light opacity-7">Let people indicate their interest in working in a team of their choice.</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
</div>

@section Scripts {
}