@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div role="main" class="main">
    
    <div class="container py-4">

    	<div class="row">
    		<div class="col">

    			<h2 class="font-weight-normal text-7 mb-2">Veel gestelde <strong class="font-weight-extra-bold">Vragen</strong></h2>
    			<p class="lead">Krijg antwoord op veel gestelde vragen. Zijn er nog steeds dingen niet duidelijk? Neem gerust contact met ons op!</p>

    			<hr class="solid my-5">

    			<div class="toggle toggle-primary m-0" data-plugin-toggle>
	                
	                <section class="toggle active">
    					<a class="toggle-title">Leg even heel kort uit wat jullie doen?</a>
    					<div class="toggle-content">
    						<p>Als je bij een klant zit dan hoor je waarschijnlijk regelmatig: “we zoeken nog iemand. Weet jij niet nog iemand?” Daar doen we als freelancers niet genoeg mee. Het idee is dat we deze “opportunity’s” – al dan niet tegen een beperkte financiële vergoeding – met elkaar delen.
	                            <br/><br/>
	                            Om te kunnen delen bouw je je eigen private netwerk op dat bestaat uit voormalige college-freelancers met wie je graag nog een keer zou willen samen werken.
	                            <br/><br/>
	                            Als je dan de vraag krijgt “weet je nog iemand?” dan deel je deze “opportunity” met je eigen netwerk. Je kiest zelf hoe ver een connectie bij je vandaan mag zitten om de opportunity te ontvangen. Je kunt er dus voor kiezen om alleen de connecties die je zelf hebt toegevoegd te informeren, maar je kunt ook hun connecties informeren, etc.
	                        </p>
    					</div>
    				</section>

    				<section class="toggle">
    					<a class="toggle-title">Wat kost dat?</a>
    					<div class="toggle-content">
    						<p>
	                            Het delen van en reageren op opportunity’s is gratis. Om te kunnen reageren, moet je wel minimaal 5 collega-freelancers in je netwerk hebben opgenomen. Als je reageert op een opdracht en je wordt niet aangenomen dan betaal je nooit iets: NO CURE, NO PAY.
	                            <br/><br/>
	                            Of en hoe veel je moet betalen als je wel wordt aangenomen hangt af van degene die de opdracht heeft gedeeld. Hij/zij kan een vergoeding vragen, maar hoeft dat niet te doen.
	                            <br/><br/>
	                            De maximale vergoeding die gevraagd mag worden is 5 euro per uur, waarbij ook nog eens geldt dat de totale vergoeding niet boven de 1600 euro mag uitkomen. Als je dus 160 uur bij de klant hebt gezeten en daarna vertrekt dan betaal je maximaal 800 euro (160 * 5 euro). Als je een heel jaar op een opdracht zit dan betaal je maximaal 1600 euro.
	                        </p>
    					</div>
    				</section>

    				<section class="toggle">
    					<a class="toggle-title">Wat levert het op?</a>
    					<div class="toggle-content">
							<p>
                                In plaats van een flesje wijn of een diner bon kies je zelf of en hoe veel je aan het aanbrengen van een nieuwe collega wilt verdienen. De vergoeding is wel gemaximeerd. Kijk bij “Wat kost dat?” voor meer informatie.
                                <br/><br/>
                                Als je via dit initiatief aan de slag gaat dan kun je over je uurtarief direct onderhandelen met de eindklant. Door minder schakels zou je een hoger uurtarief moeten kunnen krijgen.
                                <br/><br/>
                                Overigens is het financiële voordeel niet het belangrijkste. Belangrijker is dat je meer invloed krijgt op waar je terecht komt en wie je nieuwe collega’s worden!
                            </p>
	                    </div>
    				</section>

    				<section class="toggle">
    					<a class="toggle-title">Waarom weer een nieuw initiatief?</a>
    					<div class="toggle-content">
							<p>
                                Klanten hebben nog steeds veel moeite met het vinden van de juiste freelancers en wij als freelancers hebben vaak nog steeds moeite om zonder tussenkomst van tussenbureaus bij klanten binnen te komen. Dat moet toch beter kunnen!
                                <br/><br/>
                                Steeds meer (grote) bedrijven starten met marktplaatsen waarop opdrachten worden gepubliceerd waar freelancers direct (zonder tussenkomst van tussenbureaus) kunnen reageren. Op zich natuurlijk een prima ontwikkeling, maar in de praktijk komen veel freelancers nog steeds binnen via tussenbureaus met goede connecties. De marktplaats is voor de klant niet meer dan 1 van de kanalen om Cv’s te verzamelen en dat kanaal werkt trager dan een tussenbureau met goede connecties en een vlotte babbel. Kleine bedrijven werken helemaal niet met marktplaatsen en daar kom je dan vaak ook alleen binnen via iemand die je al kent (als je geluk hebt) of via een tussenbureau (als je minder gelukkig bent).
                                <br/><br/>
                                Maar er speelt nog iets anders. Het leven is veel te kort om zonder plezier naar je werk te gaan! Werken met collega’s met wie je het persoonlijk en professioneel goed kunt vinden en van wie je bovendien nog veel kan leren is gewoon veel leuker! Met dit initiatief krijg je meer invloed op waar (bij welke klant) je terecht komt en wie je toekomstige collega’s worden. Ontdek bij welke bedrijven je oude collega’s het wel en niet naar hun zin hadden. Misschien is het ook wel zo dat als jij goed kunt samenwerken met Pietje en Pietje met Klaasje dat jij het dan ook goed kunt vinden met Klaasje?
                            </p>
	                    </div>
    				</section>

    				<section class="toggle">
    					<a class="toggle-title">Hoe verschilt dit initiatief van andere initiatieven op dit gebied?</a>
    					<div class="toggle-content">
	                        <p>
                                - Nadruk op plezier en persoonlijke ontwikkeling. Meer kennis van en invloed op het bedrijf waar je aan de slag gaat en wie je toekomstige collega’s worden.
                                <br/><br/>
                                - Transparantie en lage kosten. Als de opdracht wordt gedeeld door een collega freelancer dan bepaalt hij/zij wat jij betaalt aan financiële compensatie als je op de opdracht wordt aangenomen. Minder schakels tussen jou en de klant zou moeten resulteren in een hoger uurtarief voor jou.
                                <br/><br/>
                                - Meer kans op de opdracht. Toekomstige collega freelancers zijn niet alleen als eerste op de hoogte van nieuwe opportunity’s, ze weten ook als geen ander aan welke (soft) skills behoefte is. Als je via een tussenbureau reageert dan is de kans groot dat je Cv niet eens bij de klant terecht komt.
                                <br/><br/>
                                - Minder risico. Je stuurt je facturen direct naar de klant en je loopt dus niet het risico dat een tussenbureau niet betaalt. Degene via wie je bent aangenomen stuurt je zelf een factuur (als hij/zij een vergoeding wil hebben).
                                <br/><br/>
                                - Faire vergoeding. Als je de moeite neemt om de klant te helpen bij het zoeken en bovendien een andere freelancer daarmee helpt dan mag daar best wat tegenover staan. Hoe veel dat is bepaal je helemaal zelf.
                            </p>
	                    </div>
    				</section>

    				<section class="toggle">
    					<a class="toggle-title">Mag ik wel geld vragen voor het bemiddelen?</a>
    					<div class="toggle-content">
	                        <p>
                                Sommige klanten zouden kunnen denken dat je toekomstige collega’s alleen aandraagt om er zelf financieel beter van te worden. Overleg dus met je klant of zij hier problemen mee hebben en hoe belangenverstrengeling kan worden voorkomen. Wees eerlijk!
                            </p>
	                    </div>
    				</section>

    				<section class="toggle">
    					<a class="toggle-title">Wie zit / zitten er achter dit initiatief?</a>
    					<div class="toggle-content">
	                        <p>
                                Op dit moment maar 1 persoon :) Mijn naam is Jeroen Bijlsma en ik noem mijzelf “een entrepreneur met een passie voor het ontwikkelen van software”. Software ontwikkelen is wat ik de afgelopen 15 jaar voornamelijk heb gedaan, waarvan de laatste 7 jaar als freelancer. Ik heb al bij heel wat klanten gezeten en ik hoop dat er in de toekomst nog een hoop bijkomen. Mijn bedrijf heet DotnetWorks: een logische naam als je bedenkt dan ik voornamelijk software ontwikkel met Microsoft .NET :)
                                <br/><br/>
                                Naast software ontwikkeling ben ik de laatste tijd erg geinteresseerd in “startups”. Je moet dan vooral denken aan ideeën afkomstig uit de “Lean Startup” beweging zoals: customer development, minimum viable products, split testing, etc.
                            </p>
	                    </div>
    				</section>

    				<section class="toggle">
    					<a class="toggle-title">Wat verdien jij er eigenlijk aan?</a>
    					<div class="toggle-content">
	                        <p>
                                Als freelancer ben ik op de eerste plaats zelf geinteresseerd in opportunity’s van collega-freelancers. Zelf wil ik meer invloed uit kunnen oefenen op waar en met wie ik opdrachten uitvoer. Daarom heb ik daarom behoefte aan een platform waarmee ik opportunity’s met jullie kan delen (en jullie met mij) en waarmee ik beter kan bepalen waar ik het beste op mijn plaats ben.
                                <br/><br/>
                                Als je geld vraagt aan iemand die via jou aan de slag gaat dan is het idee dat wij (DotnetWorks) een percentage (20%) van die vergoeding krijgen. Als je de opportunity gratis deelt, dan verdienen wij dus ook niets :)
                            </p>
	                    </div>
    				</section>
    			</div>

    		</div>

    	</div>

    </div>
</div>